<%- include('./partials/head') %>

<%- include('./partials/header') %>
  <input id="config-page" type="text" value="config" hidden>
  <main>

    <div class="area-config">
      <div class="container">
        <div class="row">
          <h3 class="title">oportunidades disponíveis</h3>
          
            <div class="col-md-6">
              <form action="" class="form-config" id="form-config">
                <div class="area-config">
                    <div class="config-box">
                        <i class="bx bx-user config-icon"></i>
                        <input type="text" placeholder="Insira seu Nome " class="config-name-input" />
                      </div>
                      
      
                      
                </div>               
              </form>
              <div class="btn d-flex">
                <div class="button-salvar">
                  <a href="#"><button class="btn btn-sm config-button">solicitar agendamento</button></a>
                </div>
              <div class="imagem-config">
                <img src="/images/learn-code.svg" alt="imagem-config" class="img-config">
              </div>
            </div>
        </div>
      </div>
    </div>
  </main>
  <%- include('./partials/footer-config') %>
  <script src="/scripts/script.js"></script>
  </body>
</html>


